:root {
    --section-title: #84C225;
    --section-title-underline: #00814D;
    --seeMore-button: #37BEB0;
    --card-type: #84C225;
    --text-black: #323232;
    --background: #EDF2F6;
}
/*  all visionDictionary content */
.allVision{
    position: relative;
    padding-top: 70px;
}
.visionDictionaryTitle{
    position: relative;
}
.visionDictionaryIcon{
    position: relative;
    width: 58px;
    z-index: 1;
    top: -21px;
}
.allVision .sortButton{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--text-black);
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}


.cvf-universal-content{
    margin-block: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(244px, 1fr)); /* Ensures equal width */
    gap: 20px;
    margin-inline: auto;
    padding-inline: 20px;
    justify-items: center;
}
.seeMoreArticle{
    border-radius:5px;
    max-width: 340px;
    height: 340px;
    width: 100%;
    box-shadow: 0 3px 3px #0000004a;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
}
.seeMoreArticle img{
    height: 55%;
    overflow: hidden;
}
.articleContent{
    position: relative;
    max-height: 25px;
}
.articleContent .articleType{
    margin-top: -10px;
    position: relative;
}
.articleContent .articleType .articleType-text {
    max-width: 180px;
    width: fit-content;
    margin-inline: auto;
    color: #ffffff;
    font-size: 12px;
    padding-inline: 5px;
    background-color: var(--card-type);
    border: 1px solid var(--card-type);
}

.articleContent .articleType .articleType-mark{
    max-width: 28px;
    max-height: 28px;
    position: absolute;
    right: 13px;
    bottom: 0;
}
.articleContent .articleContent-text{
    max-height: 150px;
    padding: 10px 20px;
    font-size: 16px;
    overflow: hidden;
}
.articleContent .articleContent-date{
    color: #888888;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 5px;
}

/* end all visionDictionary content */

/* searchByCategory content */
.searchByCategory{
    position: relative;
    padding-block: 70px 300px;
}
.eyeTestTitle{
    position: relative;
}
.testResultIcon{
    position: relative;
    z-index: 1;
    top: -17px;
    width: 68px;
}

.byCategory{
    margin-block: 20px;
}
.SBC .categoryName{
    font-size: 24px;
    font-weight: 700;
    color: var(--text-black);
    position: relative;
    padding-block: 15px;
    border-bottom: 6px solid #C4D700;
}
.SBC .categoryName::after{
    content: "";
    position: absolute;
    width: 75%;
    height: 6px;
    background-color: #004831;
    bottom: -6px;
    right: 0;
}
.byCategory .categoryLists{
    color: #21726A;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ensures equal width */
    gap: 20px;
    margin-inline: 40px;
}
.byCategory .categoryLists >div{
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}
.byCategory .categoryLists >div::before{
    content: "❯";
    position: absolute;
    color: #21726A;
    bottom: 0;
    left: 0px;
}
@media only screen and (max-width: 470px) {
    .byCategory .categoryLists{
        grid-template-columns: repeat(auto-fit, minmax(116px, 1fr));
        margin-inline: 10px;
        gap: 14px;
    }
    .byCategory .categoryName{
        padding-block: 20px 10px;
        font-size: 18px;
    }
    .SBC .categoryName{
        padding-block: 20px 10px;
        font-size: 18px;
    }
}
/* end searchByCategory content */

/* byInitial content */
.byInitial{
    margin-block: 25px;
}
.byInitial .categoryLists{
    color: #21726A;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr)); /* Ensures equal width */
    gap: 10px;
    padding-left: 50px;
    margin-inline: auto;
}
.byInitial .categoryLists .row .row-list{
    display: flex;
    gap: 40px;
}
.byInitial .categoryLists .row .row-info{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black);
    position: relative;
    padding-block: 10px;
}
.byInitial .categoryLists .row .row-list div{
    cursor: pointer;
    padding-left: 15px;
    position: relative;
}
.byInitial .categoryLists .row .row-list div::before{
    content: "❯";
    position: absolute;
    color: #21726A;
    bottom: 0;
    left: 0px;
}
@media only screen and (max-width: 783px) {
    .byInitial .categoryLists{
        grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    }
    .byInitial .categoryLists .row{
        margin-left: 20px;
    }
    .byInitial .categoryLists{
        padding-left: 0;
    }
}
@media only screen and (max-width: 401px) {
    .byInitial .categoryLists .row .row-list{
        gap: 25px;
    }
}
/* end byInitial content */

/* visionImproment content */
.visionImproment{
    position: relative;
    height: 380px;
}
.visionImproment .backgroundImg{
    width: 100%;
    height: 240px;
    margin-top: -256px;
    background-image: url(../../img/backgrounds/visionImproment.png);
    background-size: cover;
    background-position: center;
}
.baners{
    max-width: 1090px;
    margin-inline: auto;
    position: relative;
    margin-top: -140px;
    gap: 10px;
}
.baners .baner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.baners .baner{
    width: 510px;
    max-height: 280px;
    height: 280px;
    overflow: hidden;
}
.leftBaner{
    left: 0;
    border-radius: 0 40px 0 40px;
    border: 10px solid var(--seeMore-button);
}
.rightBaner{
    right: 0;
    border-radius: 40px 0 40px 0;
    border: 10px solid var(--seeMore-button);
}

@media screen and (max-width: 1200px) {
    .leftBaner, .rightBaner{
        border-width: 10px;
    }
}
@media only screen and (max-width: 847px) {
    .seeMoreArticle:nth-child(7),.seeMoreArticle:nth-child(8),.seeMoreArticle:nth-child(9){
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .visionImproment{
        height: auto;
        margin-bottom: 20px;
    }
    .visionImproment .backgroundImg{
        height: 210px;
        margin-top: -250px;
    }
    .baners{
        margin-top: -150px;
        gap: 15px;
    }
    .baners .baner{
        height: 180px;
    }
}
@media only screen and (max-width: 725px) {
    .allVision{
        padding-top: 60px;
    }
}
@media only screen and (max-width: 797px) {
    .allVision .sortButton{
        top: 55px;
        color: var(--text-black);
        gap: 10px;
        font-size: 12px;
    }
}
@media only screen and (max-width: 610px) {
    .visionDictionaryIcon{
        width: 40px;
        top: -12px;
    }
    .cvf-universal-content{
        margin-top: 25px;
    }
    .visionImproment .backgroundImg{
        margin-top: -335px;
    }
    .searchByCategory{
        padding-block: 70px 200px;
    }
    .testResultIcon{
        width: 40px;
        top: -1px;
    }
}
@media only screen and (max-width: 600px) {
    .seeMoreArticle{
        height: 350px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }
}
@media only screen and (max-width: 504px) {
    .seeMoreArticle:nth-child(4),.seeMoreArticle:nth-child(5),.seeMoreArticle:nth-child(6),.seeMoreArticle:nth-child(7),.seeMoreArticle:nth-child(8),.seeMoreArticle:nth-child(9){
        display: none;
    }
}
@media screen and (max-width: 560px) {
    .visionImproment .backgroundImg{
        height: 370px;
        margin-top: -255px;
    }
    .baners{
        margin-top: -300px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .baners .baner{
        width: 90%;
        height: 280px;
    }
    .leftBaner, .rightBaner{
        border-width: 10px;
    }
}
@media screen and (max-width: 490px) {
    .baners .baner{
        height: 240px;
    }
}
@media screen and (max-width: 405px) {
    .baners .baner{
        height: 190px;
    }
}
@media screen and (max-width: 380px) {
    .visionImproment .backgroundImg {
        height: 280px;
    }
    .baners{
        margin-top: -200px;
    }
    .baners .baner{
        height: 150px;
    }
    .allVision{
        padding-top: 60px;
    }
    .seeMoreArticle{
        height: 275px;
    }
}
/* end visionImproment content */

/* endBanner content */
.endBanner{
    background-image: linear-gradient(var(--background), #ffffff);
}
/* end endBanner content */