:root {
    --section-title: #84C225;
    --section-title-underline: #00814D;
    --seeMore-button: #37BEB0;
    --card-type: #84C225;
    --text-black: #323232;
    --background: #EDF2F6;
}
/* first content */

/*  all visionDictionary content */
.popularArticle .seeMoreArticle img {
    object-position: 0px -37px;
}
.notice{
    background-image: url(../../img/backgrounds/kindleBooks.png);
}
.allVision{
    position: relative;
    padding-block: 50px 280px;
}
.noticeTitle{
    position: relative;
}
.noticeIcon{
    position: relative;
    width: 68px;
    z-index: 1;
    top: -10px;
}
.navtabs {
    display: flex;
    justify-content: center;
    margin-block: 5px 20px;
    position: relative;
}
.navtabs .navtab {
    padding: 10px 90px;
    cursor: pointer;
    color: var(--text-black);
    transition: color 0.3s;
    border-bottom: 3px solid #96969696;
}
.navtabs .navtab:hover {
    color: var( --section-title-underline);
}
.navtabs .navtab.active {
    color: var( --section-title-underline);
    font-weight: 600;
}
.navtabs .underline {
    position: absolute;
    bottom: 0;
    height: 3px;
    background: var(--seeMore-button);
    transition: left 0.3s ease, width 0.3s ease;
}
.vision_articles.active{
    display: grid;
}
.vision_articles{
    display: none;
}
.cvf-universal-content{
    display: grid;
    margin-block: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ensures equal width */
    gap: 20px;
    justify-items: center;
    margin-inline: auto;
    padding-inline: 50px;
}
.card {
    cursor: pointer;
    width: 100%;
    max-width: 255px;
    place-items: center;
    z-index: 2;
    aspect-ratio: 5/6;
    isolation: isolate;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;

    &:hover {
        & > .card-front {
            transform: rotateY(180deg);
        }

        & > .card-back {
            transform: rotateY(0deg);
            opacity: 1;
        }
    }   
}
.card-front,.card-back {
    aspect-ratio: inherit;
    transition: inherit;
    width: 100%;
    inset: 0;
    position: absolute;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}
.card-front {
    z-index: 2;

    & > img {
        height: 100%;
        max-width: 100%;
    }
}
.card-back {
    background-color: #000000cc;
    backface-visibility: hidden;
    padding: 1.5rem;
    z-index: 2;
    transform: rotateY(-180deg);
    backdrop-filter: blur(4px);
    color: white;
}

.notice{
    position: relative;
}
/* end all visionDictionary content */


/* visionImproment content */
.visionImproment{
    position: relative;
    height: 425px;
}
.visionImproment .backgroundImg{
    width: 100%;
    height: 286px;
    margin-top: -270px;
    background-image: url(../../img/backgrounds/visionImproment.png);
    background-size: cover;
    background-position: center;
}
.baners{
    max-width: 1090px;
    margin-inline: auto;
    position: relative;
    margin-top: -140px;
    gap: 10px;
}
.baners .baner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.baners .baner{
    width: 510px;
    max-height: 280px;
    height: 280px;
    overflow: hidden;
}
.leftBaner{
    left: 0;
    border-radius: 0 40px 0 40px;
    border: 10px solid var(--seeMore-button);
}
.rightBaner{
    right: 0;
    border-radius: 40px 0 40px 0;
    border: 10px solid var(--seeMore-button);
}
@media screen and (max-width: 1200px) {
    .leftBaner, .rightBaner{
        border-width: 10px;
    }
}

@media screen and (max-width: 780px) {
    .cvf-universal-content{
        grid-template-columns: repeat(auto-fit, minmax(179px, 1fr));
    }
}
@media screen and (max-width: 768px) {
    .visionImproment{
        height: auto;
        margin-bottom: 20px;
    }
    .visionImproment .backgroundImg{
        height: 230px;
        margin-top: -270px;
    }
    .baners{
        margin-top: -150px;
        gap: 15px;
    }
    .baners .baner{
        height: 180px;
    }
}
@media only screen and (max-width: 616px) {
    .cvf-universal-content{
        padding-inline: 0;
    }
    .allVision{
        padding-block: 40px 280px;
    }
    .navtabs{
        margin-block: 15px 10px;
    }
    .navtabs .navtab {
        padding: 10px 40px;
    }
}
@media only screen and (max-width: 610px) {
    .noticeIcon{
        width: 47px;
        top: -4px;
    }
}
@media screen and (max-width: 560px) {
    .visionImproment .backgroundImg{
        height: 370px;
        margin-top: -277px;
    }
    .baners{
        margin-top: -300px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .baners .baner{
        width: 90%;
        height: 280px;
    }
    .leftBaner, .rightBaner{
        border-width: 10px;
    }
}
@media screen and (max-width: 520px) {
    .cvf-universal-content{
        grid-template-columns: repeat(auto-fit, minmax(147px, 1fr));
    }
}
@media screen and (max-width: 490px) {
    .baners .baner{
        height: 240px;
    }
}
@media screen and (max-width: 405px) {
    .baners .baner{
        height: 190px;
    }
}
@media screen and (max-width: 380px) {
    .cvf-universal-content{
        grid-template-columns: repeat(auto-fit, minmax(138px, 1fr));
        gap: 10px;
    }
    .visionImproment .backgroundImg {
        height: 280px;
        margin-top: -282px;
    }
    .baners{
        margin-top: -200px;
    }
    .baners .baner{
        height: 150px;
    }
}
@media screen and (max-width: 325px) {
    .cvf-universal-content{
        grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
        gap: 10px;
    }
}
/* end visionImproment content */

/* endBanner content */
.endBanner{
    background-image: linear-gradient(var(--background), #ffffff);
}
/* end endBanner content */