:root {
    --section-title: #84C225;
    --section-title-underline: #00814D;
    --seeMore-button: #37BEB0;
    --card-type: #84C225;
    --text-black: #323232;
    --background: #EDF2F6;
}
.breadcrumb{
    position: relative;
    font-size: 14px;
    margin-block: 10px;
    color: var(--text-black);
}
.breadcrumb span{
    margin-inline: 6px;
    cursor: pointer;
}
/* SNS Content */
main .sns-content{
    max-width: 185px;
    gap: 10px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
main .sns-content.flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
main .sns-content div{
    width: 31px;
    cursor: pointer;
    height: 31px;
    margin: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
main .sns-content div:hover{
    transform: translateY(-3px);
}
main .sns-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(1);
    transition: filter 0.3s ease;
}
main .sns-content img:hover{
    filter: brightness(1.1);
}
.kindleBooksDetail-content{
    width: 100%;
    gap:20px;
}
.flex-left .bookData{
    width: 100%;
}
.flex-left .bookData .book-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.flex-left .bookData .book-top .book-img img{
    max-width: 300px;
    height: 100%;
}
.flex-left .bookData .book-menu{
    padding-left: 20px;
    padding-top: 20%;
}
.flex-left .bookData .book-menu .book-menu-title{
    font-size: 25px;
    margin-bottom: 10px;
}
.flex-left .bookData .book-menu .book-menu-author{
    font-size: 17px;
    color: #555555;
    margin-left: 20px;
    margin-bottom: 10px;
}
.flex-left .bookData .book-menu .line{
    content: "";
    width: 100%;
    height: 2px;
    margin-bottom: 15px;
    background-color: var(--seeMore-button);
}
.flex-left .bookData .book-menu .book-menu-price{
    font-size: 20px;
    margin-bottom: 30px;
    color: #EE6354;
}
.flex-left .bookData .book-menu .book-menu-publisher{
    font-size: 15px;
    color: var(--text-black);
}
.flex-left .bookData .book-content{
    max-width: 710px;
    margin-inline: auto;
    margin-block: 60px 35px;
}
.flex-left .button-img{
    max-width:88px;
    max-height: 100px;
    object-fit: contain;
    overflow: hidden;
}
.flex-left.button-text{
    max-width:150px;
    max-height: 100px;
    color: var(--text-black);   
    overflow: hidden;
    font-size: 14px;
}
.flex-left .nextButton{
    right: 0;
    flex-direction: row-reverse;
}
.flex-left .nextButton::after{
    content: "次の記事 ➡";
    position: absolute;
    top: -25px;
    right: 10px;
    min-width:100px;
}
.flex-left .beforeButton{
    left: 0;
}
.flex-left .beforeButton::after{
    content: "⬅ 前の記事";
    position: absolute;
    top: -25px;
    left: 10px;
    min-width:100px;
}
.flex-left .buttons{
    position: absolute;
    bottom: -130px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    gap: 10px;
    max-width: 242px;
}
@media only screen and (max-width: 1047px) {
    .flex-left .bookData .book-menu .book-menu-title{
        font-size: 22px;
    }
    .flex-left .bookData .book-menu .book-menu-price{
        font-size: 16px;
    }
}
@media only screen and (max-width: 504px) {
    .flex-left .bookData .book-top{
        display: flex;
        flex-direction: column;
    }
    .flex-left .bookData .book-top .book-img{
        height: 300px;
        object-fit: contain;
        overflow: hidden;
    }
    .flex-left .bookData .book-menu {
        padding: 10px;
    }
    .flex-left .bookData .book-menu .book-menu-title{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .flex-left .bookData .book-menu .book-menu-author {
        font-size: 15px;
    }
    .flex-left .bookData .book-menu .book-menu-price {
        font-size: 15px;
    }
    .flex-left .bookData .book-menu .book-menu-publisher {
        font-size: 14px;
    }
    .flex-left .button-text{
        display: none;
    }
    .flex-left .bookData .book-content{
        margin-block: 30px;
        padding-inline: 10px;
    }
}
.amazon-button {
    display: inline-flex;
    align-items: center;
    background-color: #84c225;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.amazon-button:hover {
    background-color: #E68A00;
}

.amazon-logo {
    width: 100px;
    height: auto;
    margin-right: 8px;
}
.flex-right .title{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    padding-block: 8px;
    border-radius: 20px;
    background-color: var(--seeMore-button);
    text-align: center;
    color: white;
}
.flex-right .banner{
    width: 100%;
    object-fit: contain;
    margin-block: 15px;
}
.flex-right .otherCategory{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-height: 180px;
    margin-block: 25px;
    height: 180px;
}
.flex-right .otherCategory .otherCategory-item{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--seeMore-button);
}
.flex-right .otherCategory .otherCategory-item .otherCategory-item-img{
    margin-inline: auto;
    padding-top:10%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--seeMore-button);
}
.flex-right .otherCategory .otherCategory-item .otherCategory-item-text{
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 10%;
}
.allVision{
    position: relative;
    padding-block: 5px 40px;
}
.noticeTitle{
    position: relative;
}
.noticeIcon{
    position: relative;
    width: 68px;
    z-index: 1;
    top: -10px;
}
@media only screen and (max-width: 610px) {
    .noticeIcon{
        width: 47px;
        top: -4px;
    }
}
.navtabs {
    display: flex;
    justify-content: center;
    margin-block: 25px 20px;
    position: relative;
}
.navtabs .navtab {
    padding: 10px 90px;
    cursor: pointer;
    color: var(--text-black);
    transition: color 0.3s;
    border-bottom: 3px solid #96969696;
}
.navtabs .navtab:hover {
    color: var( --section-title-underline);
}
.navtabs .navtab.active {
    color: var( --section-title-underline);
    font-weight: 600;
}
.navtabs .underline {
    position: absolute;
    bottom: 0;
    height: 3px;
    background: var(--seeMore-button);
    transition: left 0.3s ease, width 0.3s ease;
}
@media only screen and (max-width: 616px) {
    .allVision{
        padding-block: 55px 280px;
    }
    .navtabs{
        margin-block: 30px 20px;
    }
    .navtabs .navtab {
        padding: 10px 40px;
    }
}
@media only screen and (max-width: 616px) {
    .navtabs .navtab{
        padding: 10px 20px;
        font-size: 14px;
    }
}


.cvf-universal-content{
    display: grid;
    margin-block: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Ensures equal width */
    gap: 20px;
    justify-items: center;
    margin-inline: auto;
    padding-inline: 50px;
    margin-top: 35px;
}
.cvf-universal-content .card {
    cursor: pointer;
    width: 100%;
    max-width: 255px;
    place-items: center;
    z-index: 2;
    aspect-ratio: 5/6;
    isolation: isolate;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    
    &:hover {
        & > .card-front {
            transform: rotateY(180deg);
        }
        
        & > .card-back {
            transform: rotateY(0deg);
            opacity: 1;
        }
    }   
}
.cvf-universal-content .card-front,
.cvf-universal-content .card-back {
    aspect-ratio: inherit;
    transition: inherit;
    width: 100%;
    inset: 0;
    position: absolute;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
}
.cvf-universal-content .card-front {
    z-index: 2;
    
    & > img {
        height: 100%;
        max-width: 100%;
    }
}
.cvf-universal-content .card-back {
    background-color: #000000cc;
    backface-visibility: hidden;
    padding: 1.5rem;
    z-index: 2;
    transform: rotateY(-180deg);
    backdrop-filter: blur(4px);
    color: white;
}
.notice{
    position: relative;
}
/* end all visionDictionary content */
@media only screen and (max-width: 353px) {
    .cvf-universal-content{
        padding-inline: 0;
        grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
        gap: 13px;
        margin-inline: -10px;
    }
}