:root {
    --section-title: #84C225;
    --section-title-underline: #00814D;
    --seeMore-button: #37BEB0;
    --card-type: #84C225;
    --text-black: #323232;
    --background: #EDF2F6;
}
.breadcrumb{
    position: relative;
    font-size: 14px;
    margin-block: 10px;
    color: var(--text-black);
}
.breadcrumb span{
    margin-inline: 6px;
    cursor: pointer;
}


.kindleBooksDetail-content{
    width: 100%;
    gap:20px;
}
/* SNS Content */
main .sns-content{
    max-width: 185px;
    gap: 10px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
main .sns-content.flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
main .sns-content div{
    width: 31px;
    cursor: pointer;
    height: 31px;
    margin: 0;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
main .sns-content div:hover{
    transform: translateY(-3px);
}
main .sns-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(1);
    transition: filter 0.3s ease;
}
main .sns-content img:hover{
    filter: brightness(1.1);
}
.flex-left .title{
    padding-inline: 15px;
    padding-block: 3px;
    border-bottom: 3px solid var(--section-title-underline);
    margin-block: 20px 5px;
}
.flex-left .title .text{
    max-width: 675px;
    width: 675px;
    font-size: 22px;
    font-weight: 700;
    color: var(--text-black);
}
@media screen and (max-width: 504px){
    .flex-left .title{
        flex-direction: column;
    }
    .flex-left .title .text{
        width: 100%;
    }
}

.flex-left .releaseDate{
    padding-inline: 15px;
}
.flex-left .releaseDate .update{
    float: right;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-black);
    margin-right: 30px;
}
.flex-left .releaseDate .view{
    float: right;
    display: flex;
    top: 0;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--text-black);
}

.flex-left .infor{
    margin-block: 40px 80px;
}
.flex-left .infor .infor-content{
    margin-block: 100px 40px;
    max-width: 730px;
    margin-inline: auto;
}
.flex-left .infor .infor-content >p{
    margin-block: 18px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black);
}
.flex-left .infor .infor-content .unit{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}
.flex-left .infor .infor-content a{
    color: #e39f00;
    text-decoration:underline;
}

@media only screen and (max-width: 504px) {
    .flex-left .infor .infor-title{
        font-size: 20px;
    }
}
/* seeMore Button responsive */
.seeMoreButton{
    height: 40px;
    text-align: center;
    margin-block: 45px;
    position:relative;
    z-index: 1;
}
.seeMoreButton a{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}
.seeMoreButton span{
    position: absolute;
    width: 230px;
    height: 40px;
    background-color: var(--seeMore-button);
    border-radius: 30px;
    transform: translateX(-50%);
    padding-top: 5px;
}
.seeMoreButton span::after{
    content: "→";
    position: absolute;
    color: #ffffff;
    border-radius: 50%;
    right: 26px;
}
@media only screen and (max-width: 768px) {
    .seeMoreButton{
        margin-block: 35px;
    }
    .seeMoreButton a{
        font-size: 18px;
        font-weight: 500;
    }
    .seeMoreButton span{
        width: 210px;
        height: 40px;
    }
}
@media only screen and (max-width: 485px) {
    .seeMoreButton{
        height:30px;
        margin-block: 20px;
    }
    .seeMoreButton a{
        font-size: 16px;
    }
    .seeMoreButton span{
        width: 140px;
        height: 35px;
        padding-top: 5px;       
    }
    .seeMoreButton span::after{
        display: none;
    }
}
.flex-right .title{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    padding-block: 8px;
    border-radius: 20px;
    background-color: var(--seeMore-button);
    text-align: center;
    color: white;
}
.flex-right .banner{
    width: 100%;
    object-fit: contain;
    margin-block: 15px;
}
.flex-right .otherCategory{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-height: 180px;
    margin-block: 40px;
    height: 180px;
}
.flex-right .otherCategory .otherCategory-item{
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: var(--seeMore-button);
}
.flex-right .otherCategory .otherCategory-item .otherCategory-item-img{
    margin-inline: auto;
    padding-top:10%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: var(--seeMore-button);
}
.flex-right .otherCategory .otherCategory-item .otherCategory-item-text{
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 10%;
}


.flex-right .searchBox{
    margin-block: 10px;
    padding-inline: 20px;
    width: 100%;
}
.flex-right .searchBox .search-Button{
    width: 100%;
    display: flex;
    float: none;
}
.flex-right .searchBox .search-Button button{
    width: 20%;
    min-width: 52px;
    float: right;
    padding: 6px;
    margin-top: 5px;
    background: var(--seeMore-button);
    color: white;
    font-size: 17px;
    border: 0.5px solid #01B46d;
    cursor: pointer;
}

.categoryTag{
    margin-block: 30px;
}
.categoryTag p {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 3px solid var(--seeMore-button);
    padding: 0 0 10px;
    margin-bottom: 16px;
    text-align: center;
    color: var(--text-black);
}
.categoryTag div {
    display: flex;
    flex-wrap: wrap;
    margin-left: .3em;
    padding: 0;
    margin: 0;
}
.categoryTag a {
    color: #fff;
    font-size: 13px;
    background: var(--seeMore-button);
    padding: .2em .7em;
    margin: 4px 3px;
    border-radius: 100vw;
    font-weight: bold;
    text-decoration: none;
}
@media only screen and (max-width: 1135px) {
    .flex-right .otherCategory .otherCategory-item .otherCategory-item-text{
        font-size: 14px;
    }
}
@media only screen and (max-width: 786px) {
    main .sns-content{
        max-width: 160px;
        gap: 5px;
    }
}
@media only screen and (max-width: 600px) {
    main .sns-content{
        max-width: 130px;
        gap: 3px;
    }
}