:root {
    --section-title: #84C225;
    --section-title-underline: #00814D;
    --seeMore-button: #37BEB0;
    --card-type: #84C225;
    --text-black: #323232;
    --background: #EDF2F6;
}


/*  all visionDictionary content */
.notice{
    background-image: url(../../img/backgrounds/notice.jpg);
}
.allVision{
    margin-top: 5px;
    position: relative;
    padding-block: 70px 280px;
}
.noticeTitle{
    position: relative;
}
.noticeIcon{
    position: relative;
    width: 68px;
    z-index: 1;
    top: -10px;
}
.navtabs {
    display: flex;
    justify-content: center;
    margin-block: 15px 10px;
    position: relative;
}
.navtabs .navtab {
    padding: 10px 30px;
    cursor: pointer;
    color: var(--text-black);
    transition: color 0.3s;
    border-bottom: 3px solid #96969696;
}
.navtabs .navtab:hover {
    color: var( --section-title-underline);
}
.navtabs .navtab.active {
    color: var( --section-title-underline);
    font-weight: 600;
}
.navtabs .underline {
    position: absolute;
    bottom: 0;
    height: 3px;
    background: var(--seeMore-button);
    transition: left 0.3s ease, width 0.3s ease;
}
.popularArticle .seeMoreArticle img{
    height: 40%;
}
.seeMoreArticle img{
    object-fit: contain;
    padding: 25px 25px 0 25px;
}
.vision_articles.active{
    display: block;
}
.vision_articles{
    display: none;
}
/* vision_articles content  */
.vision_articles{
    padding-inline: 40px;
}
.vision_articles .content{
    display: grid;
    grid-template-columns: 1fr 1fr 9fr;
    gap: 10px;
    padding: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.seeMoreArticle .articleContent-date{
    color: #888888;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 5px;
}
.seeMoreArticle .contentText{
    max-height: 121px;
    padding: 5px 20px;
    font-size: 16px;
    overflow: hidden;
}
.vision_articles .content .contentDate{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black);
    justify-content: center;
    display: flex;
    align-items: center;
}
.vision_articles .content .contnetImage{
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}
.vision_articles .content .contentText{
    padding-right: 20px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.vision_articles .vector2{
    right: -110px;
}
/* end vision_articles content */
.notice{
    position: relative;
}
/* end all visionDictionary content */


/* visionImproment content */
.visionImproment{
    position: relative;
    height: 425px;
}
.visionImproment .backgroundImg{
    width: 100%;
    height: 286px;
    margin-top: -270px;
    background-image: url(../../img/backgrounds/visionImproment.png);
    background-size: cover;
    background-position: center;
}
.baners{
    max-width: 1090px;
    margin-inline: auto;
    position: relative;
    margin-top: -140px;
    gap: 10px;
}
.baners .baner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.baners .baner{
    width: 510px;
    max-height: 280px;
    height: 280px;
    overflow: hidden;
}
.leftBaner{
    left: 0;
    border-radius: 0 40px 0 40px;
    border: 10px solid var(--seeMore-button);
}
.rightBaner{
    right: 0;
    border-radius: 40px 0 40px 0;
    border: 10px solid var(--seeMore-button);
}
@media screen and (max-width: 1200px) {
    .leftBaner, .rightBaner{
        border-width: 10px;
    }
}
@media screen and (max-width: 768px) {
    .visionImproment{
        height: auto;
        margin-bottom: 20px;
    }
    .visionImproment .backgroundImg{
        height: 230px;
        margin-top: -270px;
    }
    .baners{
        margin-top: -150px;
        gap: 15px;
    }
    .baners .baner{
        height: 180px;
    }
}
@media only screen and (max-width: 730px) {
    .navtabs .navtab {
        padding: 10px 17px;
    }
}
@media only screen and (max-width: 660px) {
    .vision_articles .content{
        grid-template-columns: 2fr 1fr 9fr;
    }
    .vision_articles .content .contentText{
        font-size: 14px;
    }
}
@media only screen and (max-width: 616px) {
    .allVision{
        padding-block: 35px 280px;
    }
    .navtabs{
        font-size: 14px;
    }
    .navtabs .navtab {
        padding: 10px 10px;
    }
    .vision_articles{
        padding-inline: 0;
    }
}
@media only screen and (max-width: 610px) {
    .noticeIcon{
        width: 47px;
        top: -4px;
    }
}
@media screen and (max-width: 580px){
    .vision_articles .content .contentText{
        padding-right: 10px;
    }
    .vision_articles .content{
        gap: 10px;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    }
    .vision_articles .content .contentText{
        font-size: 14px;
        font-weight: 400;
        overflow: hidden;
    }
}
@media screen and (max-width: 560px) {
    .visionImproment .backgroundImg{
        height: 370px;
        margin-top: -277px;
    }
    .vision_articles .content .contentDate{
        font-size: 11px;
    }
    .baners{
        margin-top: -300px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .baners .baner{
        width: 90%;
        height: 280px;
    }
    .leftBaner, .rightBaner{
        border-width: 10px;
    }
}
@media only screen and (max-width: 490px) {
    .navtabs{
        font-size: 12px;
    }
    .navtabs .navtab {
        padding: 10px 10px;
    }
    .baners .baner{
        height: 240px;
    }
}
@media screen and (max-width: 405px) {
    .baners .baner{
        height: 190px;
    }
}
    @media screen and (max-width: 380px) {
    .vision_articles .content{
        margin-right: 0;
        border-radius: 3px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .vision_articles .content .contentDate{
        margin-top: -60px;
        font-size: 16px;
    }
    .vision_articles .content .article-thumbnail{
        width: 46px;
        margin-left: 20px;
    }
    .visionImproment .backgroundImg {
        height: 280px;
        margin-top: -282px;
    }
    .baners{
        margin-top: -200px;
    }
    .baners .baner{
        height: 150px;
    }
}
@media screen and (max-width: 364px) {
    .navtabs .navtab{
        padding: 10px 3px;
    }
}
/* end visionImproment content */

/* endBanner content */
.endBanner{
    background-image: linear-gradient(var(--background), #ffffff);
}
/* end endBanner content */