:root {
    --section-title: #84C225;
    --section-title-underline: #00814D;
    --seeMore-button: #37BEB0;
    --card-type: #84C225;
    --text-black: #323232;
    --background: #EDF2F6;
}

/*  all visionDictionary content */
.allVision{
    position: relative;
    padding-block: 70px 280px;
}
.visionDictionaryTitle{
    position: relative;
}
.visionDictionaryIcon{
    position: relative;
    width: 58px;
    z-index: 1;
    top: -16px;
}
.allVision .sortButton{
    position: absolute;
    right: 0;
    top: 0;
    color: var(--text-black);
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}
.cvf-universal-content{
    margin-block: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(244px, 1fr)); /* Ensures equal width */
    gap: 20px;
    margin-inline: auto;
    padding-inline: 20px;
    justify-items: center;

}
.seeMoreArticle{
    border-radius:5px;
    max-width: 340px;
    height: 340px;
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 3px #0000004a;
    overflow: hidden;
    cursor: pointer;
}

.seeMoreArticle img{
    height: 55%;
}

.articleContent{
    position: relative;
    max-height: 25px;
}
.articleContent .articleType{
    margin-top: -10px;
    position: relative;
}
.articleContent .articleType .articleType-text {
    max-width: 180px;
    width: fit-content;
    margin-inline: auto;
    color: #ffffff;
    font-size: 12px;
    padding-inline: 5px;
    background-color: var(--card-type);
    border: 1px solid var(--card-type);
}

.articleContent .articleType .articleType-mark{
    max-width: 28px;
    max-height: 28px;
    position: absolute;
    right: 13px;
    bottom: 0;
}
.articleContent .articleContent-text{
    max-height: 150px;
    padding: 10px 20px;
    font-size: 16px;
    overflow: hidden;
}
.articleContent .articleContent-date{
    color: #888888;
    font-size: 14px;
    padding-left: 20px;
    padding-top: 5px;
}

/* visionImproment content */
.visionImproment{
    position: relative;
    height: 425px;
}
.visionImproment .backgroundImg{
    width: 100%;
    height: 286px;
    margin-top: -270px;
    background-image: url(../../img/backgrounds/visionImproment.png);
    background-size: cover;
    background-position: center;
}
.baners{
    max-width: 900px;
    margin-inline: auto;
    position: relative;
    margin-top: -150px;
    gap: 10px;
}
.baners .baner img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.baners .baner{
    overflow: hidden;
    width: 400px;
    max-height: 280px;
    height: 240px;
    cursor: pointer;
}
.leftBaner{
    left: 0;
    border-radius: 0 40px 0 40px;
    border: 10px solid var(--seeMore-button);
}
.rightBaner{
    right: 0;
    border-radius: 40px 0 40px 0;
    border: 10px solid var(--seeMore-button);
}

@media screen and (max-width: 1200px) {
    .leftBaner, .rightBaner{
        border-width: 10px;
    }
}
@media only screen and (max-width: 847px) {
    .seeMoreArticle:nth-child(7),.seeMoreArticle:nth-child(8),.seeMoreArticle:nth-child(9){
        display: none;
    }
}
@media only screen and (max-width: 797px) {
    .allVision .sortButton{
        top: 55px;
        color: var(--text-black);
        gap: 10px;
        font-size: 12px;
    }
    .cvf-universal-content{
        margin-top: 10px;
    }
}
@media screen and (max-width: 768px) {
    .visionImproment{
        height: auto;
        margin-bottom: 20px;
    }
    .visionImproment .backgroundImg{
        height: 230px;
        margin-top: -270px;
    }
    .baners{
        margin-top: -150px;
        gap: 15px;
    }
    .baners .baner{
        height: 180px;
    }
}
@media only screen and (max-width: 725px) {
    .allVision{
        padding-block: 60px 280px;
    }
}
@media only screen and (max-width: 610px) {
    .visionDictionaryIcon{
        width: 40px;
        top: -7px;
    }
    .cvf-universal-content{
        margin-top: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .seeMoreArticle{
        height: 350px;
    }
    .allVisionArticles{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }
}
@media screen and (max-width: 560px) {
    .visionImproment .backgroundImg{
        height: 370px;
        margin-top: -277px;
    }
    .baners{
        margin-top: -300px;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
    .baners .baner{
        width: 90%;
        height: 280px;
    }
    .leftBaner, .rightBaner{
        border-width: 10px;
    }
}
@media only screen and (max-width: 504px) {
    .seeMoreArticle:nth-child(6),.seeMoreArticle:nth-child(7),.seeMoreArticle:nth-child(8),.seeMoreArticle:nth-child(9){
        display: none;
    }
}
@media screen and (max-width: 490px) {
    .baners .baner{
        height: 240px;
    }
}
@media screen and (max-width: 405px) {
    .baners .baner{
        height: 190px;
    }
}
@media screen and (max-width: 380px) {
    .visionImproment .backgroundImg {
        height: 280px;
        margin-top: -282px;
    }
    .baners{
        margin-top: -200px;
    }
    .baners .baner{
        height: 150px;
    }
    .allVision{
        padding-block: 40px 280px;
    }
    .seeMoreArticle{
        height: 275px;
    }
}
/* end visionImproment content */

/* endBanner content */
.endBanner{
    /* height: 700px; */
    background-image: linear-gradient(var(--background), #ffffff);
}
/* end endBanner content */